<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delivery CheckList</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="http:\\localhost:3000\public\checklist_pengiriman\style.css" />
  </head>
  <body>
    <div class="main col">
      <div class="header row">
        <img class="logo" src="http:\\localhost:3000\public\asset\image.png" alt="" />
        <h2>PT. ANUGRAH METAL MITRA MANDIRI</h2>
      </div>
      <div class="col detail">
        <div class="row det-content">
          <div>No Pengiriman</div>
          <div>:<span><%= no_pengiriman %></span></div>
        </div>
        <div class="row det-content">
          <div>Tanggal</div>
          <div>:<span><%= tgl_pengiriman %></span></div>
        </div>
        <div class="row det-content">
          <div>Nama Customer</div>
          <div>:<span id="nama_pelanggan"><%= nama_pelanggan %></span></div>
        </div>
      </div>
      <table class="checklist">
        <thead>
          <tr>
            <th>NO.</th>
            <th>DOKUMEN / BARANG</th>
            <th>A</th>
            <th>NA</th>
            <th style="min-width: 300px">KETERANGAN</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Surat Jalan</td>
            <td><i class="bi bi-check"></i></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Checklist Marking</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Label Pada Kemasan / Barang</td>
            <td><i class="bi bi-check"></i></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>4</td>
            <td>Label Pada Pallet</td>
            <td><i class="bi bi-check"></i></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>5</td>
            <td>Certificate Of Analysis</td>
            <td><i class="bi bi-check"></i></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>6</td>
            <td>Delivery Card</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>7</td>
            <td>Barang Dan Kuantitas Yang Dikirim</td>
            <td><i class="bi bi-check"></i></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div class="row sign">
        <div class="col sign-cont">
          <div class="diperiksa">Diperiksa</div>
          <div class="signature"></div>
          <div class="signname"></div>
        </div>
      </div>
    </div>
    <script src="http:\\localhost:3000\public\checklist_pengiriman\index.js"></script>
  </body>
</html>
