<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/user_interface/style.css">
</head>
<body>
    <input type="file">
    <button class="upload">Upload</button>
    <script src="/public/user_interface/index.js"></script>
</body>
</html>